<%- include('partials/header') %>



    <a href="/note" class="btn btn-dark btn-lg new-note-btn" role="button">Add New Note +</a>

    <div class="new-notes">
        <% if (locals.notes.length > 0) { %>
            <% notes.forEach((note) => { %>
                <div class="note">
                    <p><%= note.notes %></p>
                    <div class="note-buttons">
                        <form action="/edit" method="post" class="edit-btn">
                            <input type="hidden" name="noteId" value="<%= note.id %>">
                            <button type="submit" class="btn btn-dark">Edit</button>
                        </form>
                        <form action="/delete" method="post" class="delete-btn">
                            <input type="hidden" name="noteId" value="<%= note.id %>">
                            <button type="submit" class="btn btn-dark">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        <%  } else { %>
            <div class="note" >
                <p>Example Note</p>
                <div class="note-buttons">
                    <form action="/edit" method="post" class="edit-btn">
                        <button type="submit" class="btn btn-dark">Edit</button>
                    </form>
                    <form action="/delete" method="post" class="delete-btn">
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </div>
            </div>
        <% } %>    
    </div>
    <div class="main-btn-container">
        <a href="/" class="btn btn-dark btn-lg" role="button">Home</a>
        <a href="/logout" class="btn btn-dark btn-lg" role="button">Logout</a>
    </div>
</main>

<%- include('partials/footer') %>